<div *ngIf="user.isLogin">
  <md-card *ngFor="let t of user.tokens">
    <md-card-header>
      <md-card-title>(クライアント名){{t.client}}</md-card-title>
    </md-card-header>
    <md-card-content>
      ID {{t.id}} Key {{t.key}}
    </md-card-content>
    <md-card-actions>
      <button type="button" md-button (click)="active(t)">
        {{t.active?'有効':'無効'}}
      </button>
      <button type="button" md-button (click)="key(t)">
        <md-icon>update</md-icon>
      </button>
    </md-card-actions>
  </md-card>
</div>