<div *ngIf="user.isLogin" class="container">
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Key</th>
				<th>アプリID</th>
				<th>有効</th>
				<th>Key変更</th>
				<tr>
		</thead>
		<tbody>
			<tr *ngFor="let t of user.tokens">
				<td>{{t.id}}</td>
				<td>{{t.key}}</td>
				<td>{{t.client}}</td>
				<td>
					<button type="button" class="btn btn-default" (click)="active(t)">{{t.active?'有効':'無効'}}</button>
				</td>
				<td>
					<button type="button" class="btn btn-default" (click)="key(t)">
						<span class="glyphicon glyphicon-refresh"></span>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>