<div class="container">
  <form (ngSubmit)="ok()">
    <div class="alert alert-danger" *ngIf="errorMsg!==null">
      <span class="glyphicon glyphicon-exclamation-sign"></span> {{errorMsg}}
    </div>

    <div class="form-group">
      <label>スクリーンネーム</label>
      <input type="text" class="form-control" [(ngModel)]="sn" name="sn">
    </div>
    <div class="form-group">
      <label>pass</label>
      <input type="text" class="form-control" [(ngModel)]="pass" name="pass">
    </div>
    <div class="form-group">
      <label>ログイン/登録</label>
      <select [(ngModel)]="isLogin" class="form-control" name="isLogin">
          <option [ngValue]="true" selected>ログイン</option>
          <option [ngValue]="false">登録</option>
      </select>
    </div>

    <button type="submit" class="btn btn-default">OK</button>
  </form>
</div>