<md-sidenav-layout>
  <md-sidenav #sidenav mode="side">
    <md-nav-list>
      <md-list-item>
        <button md-button [routerLink]="['/token']">
          <span>連携アプリ管理</span>
        </button>
      </md-list-item>
      <md-list-item>
        <button md-button [routerLink]="['/client']">
          <span>クライアント管理(開発者向け)</span>
        </button>
      </md-list-item>
    </md-nav-list>
  </md-sidenav>

  <md-toolbar>
    <button (click)="sidenav.toggle()" class="toggle-button">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    <button md-button [routerLink]="['/']">
      <span>Anontown</span>
    </button>
  </md-toolbar>

  <div class="content">
    <at-in *ngIf="user.notLogin"></at-in>
    <router-outlet></router-outlet>
  </div>
</md-sidenav-layout>